MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_HOST=127.0.0.1
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://127.0.0.1:4317
OTEL_EXPORTER_OTLP_INSECURE=true
ZHIFUFM_BASE_URL= # 接口根地址
ZHIFUFM_MERCHANT_NUM= # 商户号
ZHIFUFM_SECRET_KEY= # 接入密钥
ZHIFUFM_NOTIFY_URL=http://localhost:8080/payment/notify # 支付完成后异步通知地址
ZHIFUFM_RETURN_URL=http://localhost:8080 # 支付完成后跳转地址
ZHIFUFM_PAY_TYPE=alipay # 支付类型